[submodule "LibMod"]
	path = LibMod
	url = https://github.com/AMPZNetwork/LibMod
[submodule "BanMod"]
	path = BanMod
	url = https://github.com/AMPZNetwork/BanMod
[submodule "WorldMod"]
	path = WorldMod
	url = https://github.com/AMPZNetwork/WorldMod
[submodule "LagMod"]
	path = LagMod
	url = https://github.com/AMPZNetwork/LagMod
[submodule "ChatMod"]
	path = ChatMod
	url = https://github.com/AMPZNetwork/ChatMod
